

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="1000">
  <div class="carousel-inner">
    
    <div class="carousel-item active " data-interval="4000">
      <div class="carousel-caption d-none d-md-block">
        <h1 class="head">Eat Da Burger !!</h1>
      </div>
        <img src="/assets/img/img4.jpeg" class="d-block w-100" alt="...">
    </div>

    <div class="carousel-item" data-interval="4000">
     <div class="carousel-caption d-none d-md-block">
        <h1 class="head">Eat Da Burger !!</h1>
    </div>
      <img src="/assets/img/photo-1571091718767-18b5b1457add.jpeg" class="d-block w-100" alt="...">
    </div>


    <div class="carousel-item" data-interval="4000">
      <img src="/assets/img/img1.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1 class="head">Eat Da Burger !!</h1>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">

<br><br>
<!-- Order & Devoured -->
<div class="container-fluid">
  <div class = "row">
<div class="burgerDiv col-xs-12 col-s-2 col-md-4 col-lg-4 col-xl-4 text-center">
<ul class="list-group list-group-flush">
    {{#each burgers}} </li>
    {{#unless devoured}}
    {{> burgers/burger-block devoured=true}}
    {{/unless}}
    {{/each}}
</ul>
</div>
<!-- -->
<div class="form-group col-xs-12 col-s-2 col-md-4 col-lg-4 col-xl-4 text-center">
<h2>Add Your Favourite Burger!!</h2>
<form class="create-form">
    <div class="form-group">
          <textarea placeholder="Enter a burger you want to eat, and then click the submit button." id="bu" name="name"
            rows="8" cols="40"></textarea>
          <br>
    </div>
     <button type="submit" id="submitButton" class=" btn btn-lg btn-primary "><i class="fa fa-plus-circle" aria-hidden="true" style="width:35px; heigth:8px; font-size:35px;"></i></button>
  </form> 
</div>
<!--  -->
<div class="devouredDiv col-xs-12 col-s-2 col-md-4 col-lg-4 col-xl-4 text-center">

<ul class="list-group list-group-flush">
  {{#each burgers}}
    {{#if devoured}}
     	   {{> burgers/devoured-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>
</div>

<!-- -->
  
    </div>
  </div>

</div>

  