body {

    padding: 30px;
    background-image: linear-gradient(to top, #f53b64bf 0%, #fd0202 100%);   
 
}
h2 {
    font-family: 'Patua One', cursive;
    color: white;
}
.head {
    font-family: 'Modak', cursive;
    font-size: 80px;
    text-align: center;
    color: rgb(240, 220, 220);
    background-color: rgba(43, 40, 40, 0.262);
}

.carousel-item {
    width: 100%;
    height: 700px;
}

.d-block{
    height:500px;
    padding: 10px;
}

.burgerImg{
    widows: 80px;
    height: 80px;
    margin: 10px;
}

.container{
   text-align: center;
}

li{
    font-family: 'Patua One', cursive;
    font-size:20px;
    border:30px;
    padding:5px;
    color: black;
    list-style: none;
}

.change-devoured{
    margin: 10px;

}

#devourBtn:hover{
   background-color:  rgb(138, 225, 8) ;
}


#submitButton:hover {
    background-color: rgb(138, 225, 8);
    color: black;
   
}

