
	<li>
		{{name}}
	<br>
   	<img src="/assets/img/burger.png" class="burgerImg" alt="...">
    <br>
	<button class="change-devoured btn btn-warning" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Devour It!!{{else}}REORDER{{/if}}
	</button>
	<hr>
</li>
